/* Practica 9
!Aitor Jerez Clemente 31/10/2024
*/

html{
    font-size: 62.5%;
}

.grid {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.grid img {
    width: 100%;
    border: 0.3rem solid white;
    margin: auto;
    object-fit: cover;
    transition: all ease 1s;
}

.grid img:hover{
    border: 0.5rem solid lime;
    opacity: 0.7;
    transform: scale(1.1) rotate(3deg) translate(0.7rem,0.7rem);
}

body {
    background-image: url(./Imagenes/sample_0\ \(2\).jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    border: 0.5rem solid;
    margin: 1rem;
    color: white;
    text-align: center;
}

.galVideo {
    width: 100%;
    border: 0.3rem solid white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galVideo iframe {
    max-width: 100%;
    object-fit: cover;
    height: 35rem;
}