/*!
    Aitor Jerez Clemente
    Septiembre 2024
*/

*{
    margin: 0rem;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: azure;
    color: black;
}

p{
    margin: 1.5rem;
    padding: 1rem;
    border: solid 0.5rem black;
    border-radius: 50%;
    width: 20%;
    height: 29rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
}

.LV{
    margin: 1.5rem;
    padding: 1rem;
    border: solid 0.5rem black;
    border-radius: 1rem;
    width: 98%;
    height: 10rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: left;
    display: flex;
    align-items: center;
    background-color: green;
}

.LN{
    margin: 1.5rem;
    padding: 1rem;
    border: solid 0.5rem black;
    border-radius: 1rem;
    width: 98%;
    height: 10rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: left;
    display: flex;
    align-items: center;
    background-color: grey;
}

.Az{
    background-color: blue;
    float: left;
}

.Ver{
background-color: green;
float: left;
}

.Am{
    background-color: yellow;
    float: right;
}

.N{
    background-color: rgb(82, 82, 82);
    float: right;
}

h1{
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}
