/** Actividad 10 "Video, audio y maps"
 *! Aitor Jerez Clemente
 */


video, audio{
    padding-top: 1.25rem;
    width: 80%;
    margin: auto;
    display: block;
}

audio{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.galVideo {
    width: 100%;
    max-width: 35rem;
    margin: 1.25rem auto;
    border: .1875rem solid #FFD700;
    border-radius: .625rem;
    background-color: #f9f9f9;
    padding: .625rem;
    box-shadow: 0 .5rem .9375rem rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.galVideo:hover {
    transform: scale(1.05);
}

.galVideo iframe {
    width: 100%;
    height: 19.6875rem;
    border: none;
}

body {
    background-image: url(./Imagenes/aurora.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    background-color: #75afd6;
    color: white;
    padding: 1.25rem;
    text-align: center;
    border-radius: .625rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.2);
    margin: 1.25rem;
    font-size: 2.5em;
}

h2 {
    color: #2c3e50;
    font-size: 1.5rem;
    margin-bottom: .625rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    background-color: #ecf0f1;
    padding: .625rem;
    border-radius: .3125rem;
}

.maps {
    width: 100%;
    max-width: 60%;
    margin: 1.25rem auto;
    border: .3125rem solid #4c8baf;
    border-radius: .9375rem;
    overflow: hidden;
}

.maps iframe {
    width: 100%;
    height: 100%;
    border: none;
}