*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 2rem;
}

h1, h2 {
    color: #333;
}

.componente {
    background-size: cover;
    height: 2rem;
    width: 2rem;
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
}

.listaComponentes {
    list-style-type: none;
    padding: 0;
}

.subcategoria {
    list-style-type: none;
    padding-left: 2rem;
}

.procesador {
    background-image: url("");
}

.overclocking {
    background-image: url('');
}

.ventilador {
    background-image: url('');
}

.placa-madre {
    background-image: url('');
}

.conectores {
    background-image: url('');
}

.chipset {
    background-image: url('');
}

.memoria-ram {
    background-image: url('');
}

.ddr4 {
    background-image: url('');
}

.ddr5 {
    background-image: url('');
}

.disco-duro {
    background-image: url('');
}

.hdd {
    background-image: url('');
}

.ssd {
    background-image: url('');
}

.tarjeta-grafica {
    background-image: url('');
}

.gpu {
    background-image: url('');
}

.memoria-video {
    background-image: url('');
}

.fuente-alimentacion {
    background-image: url('');
}

.caja {
    background-image: url('');
}

.refrigeracion {
    background-image: url('');
}

.unidad-optica {
    background-image: url('');
}

.tarjeta-sonido {
    background-image: url('');
}


.subapartado {
    list-style-type: circle;
}