*{
    margin: 0rem;
    box-sizing: border-box;
}

.verde{color: greenyellow;}

h1{
    padding: 1.25rem;
}

.texto-centrado{text-align: center;}

nav{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: .0625rem solid black;
    padding: .9375rem;
}

.img-cabecera{
    background-image: url(./Imagenes/aurora.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

nav > a{
    text-decoration: none;
    color: black;
}

main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: .125rem;
    width: 80%;
    margin: .125rem auto .125rem auto;
}

section > img{
    max-width: 100%;
}

.pseudo-clases{
    width: 80%;
    margin: .125rem auto .125rem auto;
    column-count: 3;
    column-gap: .125rem;
    column-rule: .0125rem dotted black;
}

.pseudo-clases > p::first-letter{
    font-size: 2.5rem;
    color: green;
}

.pseudo-clases > p::first-line{color: brown;}

.pseudo-clases > p::selection{background-color: blueviolet;}

.img-fondo{
    background-image: url(./Imagenes/aurora.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}