/*
Practica 7  24/10/2024
Aitor Jerez Clemente
*/

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

h1{
    text-align: center;
}

section{
    width: 70%;
    margin: auto;
    border: dashed;
    padding: 1.5rem;
}

.listaDesordenada{
    background-color: bisque;
}

.listaOrdenada{
    background-color: cornflowerblue;
}

ol ol {
    list-style-type: georgian;
}

.listaDefinicion{
    background-color: lime;
}