/** Practica 5
 * !Aitor Jerez Clemente
 */

html{
    font-size: 62.5%;
}

h2{
    text-align: center;
}

header{
    text-align: center;
    padding: 2rem;
    background: linear-gradient(to bottom right, rgb(8, 51, 8), rgb(108, 185, 108))
}

footer{
    text-align: center;
    padding: 0.1rem;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(174, 223, 174), rgb(7, 61, 7))
}

section{
    width: 33%;
    float: left;
}