/*
Practica 6  24/10/2024
Aitor Jerez Clemente
*/

html{
    font-size: 62.5%;
}

.menu a{
    text-decoration: none;
    background-color: antiquewhite;
    padding: 2.5rem;
    color: white;
}

.menu a:hover{
    background-color: rgb(165, 52, 52);
}

.menuFlex{
    display: flex;
    justify-content: space-around;

}

.menuFlex a{
    flex-grow: 1;
}


main{height: 30rem;}

.menuGrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 70%;
    color: white;
    margin: auto;
}

img{
    display: block;
    margin: auto;
    width: 50%;
    border: 0.5rem double;
}