/*!
    Aitor Jerez Clemente
    Septiembre 2024
*/

* {
    margin: 0rem;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    background-color: rgb(225, 249, 172);
    border: solid 0.5rem rgb(81, 158, 246);
    padding: 1rem;
    margin: 1rem;
    border-radius: 2.5rem;
}

h1,h2 {
    background-color: rgb(126, 255, 147);
    color: aliceblue;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1.5rem;
    text-align: center;
}

h2>a {
    text-decoration: none;
    color: aliceblue;
}

img{
    display: block;
    margin: auto;
    width: 25%;
}